# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

ppc.mp3
ordinary.mp3
eenie_meenie.mp3
imh.mp3
lush_life.mp3
unwritten.mp3
ttlo.mp3
IGAF.mp3
IWY.mp3
love_story.mp3
